<div class="w3-container">
    <div class="w3-row-padding">
        <div *ngFor="let fav of Favorites; let i = index"
             class="w3-col s6 m3 l3"
             style="margin-top:2%;" >
             <!-- <div class="w3-display-conatiner">
                <img [src]=fav class="w3-img w3-round w3-border w3-card-4 w3-hover-grayscale" />
                <div class="w3-display-middle w3-display-hover w3-xlarge">
                    <button class="w3-button w3-black">John Doe</button>
                </div>
             </div> -->

             <div class="w3-display-container">
                <img [src]=fav class="w3-img w3-round w3-border w3-card-4 w3-hover-grayscale" />
                <div class="w3-display-topright w3-display-hover w3-xlarge">
                    <button class="w3-button w3-text-red w3-round w3-hover-green"
                    type="button"
                    (click)="onDeleteFav(i)"
                    >&times;</button>
                </div>
            </div>

        </div>
    </div>
</div>
